AllYourBase.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AllYourBase.xcodeproj/project.xcworkspace/xcuserdata/tiago.xcuserdatad/UserInterfaceState.xcuserstate
AllYourBase.xcodeproj/project.xcworkspace/xcuserdata/tiago.xcuserdatad/WorkspaceSettings.xcsettings
AllYourBase.xcodeproj/xcuserdata/tiago.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
AllYourBase.xcodeproj/xcuserdata/tiago.xcuserdatad/xcschemes/HelloGoodbyeUniv.xcscheme
AllYourBase.xcodeproj/xcuserdata/tiago.xcuserdatad/xcschemes/xcschememanagement.plist
HelloGoodbyeUniv/CalcBrain.xcdatamodeld/.xccurrentversion